numpy
-e git+git://github.com/seankmartin/PythonUtils.git#egg=skm_pyutils
seaborn
matplotlib
-e git+git://github.com/seankmartin/NeuroChaT.git#egg=neurochat
more_itertools
indexed
tqdm
doit
mne
pandas
pytest
astropy
rich
dearpygui
pillow
typer
click-spinner